.review {
	display: flex;
	flex-direction: column;
	gap: 4px;
	min-width: 425px;
	width: 425px;
	padding: 16px 32px;
	border-radius: 40px;
	background-color: var(--white-50);
}

.author {
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
	color: var(--blue-500);
}

.text {
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	text-wrap: wrap;
}

@media (max-width: 600px) {
	.review {
		max-width: 320px;
		min-width: 320px;
	}
}

@media (max-width: 440px) {
	.review {
		max-width: 100%;
		min-width: auto;
		width: 100%;
	}
}
