.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	max-width: var(--max-width);
	width: 100%;
	padding: 12px 32px;
	margin: 78px auto 64px;
	border-radius: 40px;
	background-color: var(--white-50);
}

.iconBurgerMenu {
	display: none;
	height: 56px;
}

.iconBurgerMenu button {
	background-color: transparent;
	border: none;
	height: 56px;
}

.burgerMenu {
	position: absolute;
	top: 96px;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 28px;
	border-radius: 24px;
	background-color: var(--white-50);
	z-index: 100;
}

.burgerMenuEnter {
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
}

.burgerMenuEnterActive {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.burgerMenuExit {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.burgerMenuExitActive {
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.burgerMenu svg {
	margin-bottom: 12px;
}

.burgerMenu nav ul {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
}

.logo {
	display: block;
	line-height: 1;
	height: 60px;
}

.navigation nav ul {
	display: flex;
	gap: 40px;
	font-size: 20px;
	line-height: 27px;
	font-weight: 400;
	color: var(--black-700);
}

.search,
.hideableSearch {
	display: flex;
	gap: 10px;
	padding: 14px 16px;
	border-radius: 40px;
	background-color: var(--blue-300);
}

.hideableSearch {
	display: none;
	gap: 0;
	padding: 10px;
	width: 0;
	overflow: hidden;
}

.hideableSearchEnter {
	width: 0;
	opacity: 0;
}

.hideableSearchEnterActive {
	width: auto;
	opacity: 1;
	transition: 0.3s;
}

.hideableSearchExit {
	width: auto;
	opacity: 1;
	transition: 0.3s;
}

.hideableSearchExit {
	width: 0;
	opacity: 0;
}

.search input,
.hideableSearch input {
	border: none;
	padding: 0 4px;
	background-color: inherit;
	font-size: 20px;
	line-height: 27px;
	font-weight: 400;
	color: var(--blue-500);
	min-width: 354px;
	max-width: 354px;
	width: 100%;
	outline: none;
}

.search input::placeholder,
.hideableSearch input::placeholder {
	color: var(--blue-500);
}

.inputEnter {
	width: 0;
	opacity: 0;
}

.inputEnterActive {
	opacity: 1;
	width: 354px;
	transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.inputExit {
	opacity: 1;
	width: 354px;
	transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.inputExitActive {
	width: 0;
	opacity: 0;
	transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.phone a,
.phoneOnSmallScreen a {
	font-size: 24px;
	line-height: 33px;
	font-weight: 400;
	color: var(--blue-500);
	text-wrap: nowrap;
}

.phoneEnter {
	opacity: 0;
}

.phoneEnterActive {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.phoneExit {
	opacity: 1;
}

.phoneExitActive {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.hideableSearch button {
	background-color: transparent;
	border: none;
	height: 28px;
}

@media (max-width: 1px) {
	.burgerMenu {
		display: none;
		appearance: none;
	}
}

@media (max-width: 1480px) {
	.header {
		max-width: calc(100% - 272px);
		margin-bottom: 32px;
		margin-top: 64px;
	}

	.search input {
		min-width: 254px;
		max-width: 254px;
	}
}

@media (max-width: 1280px) {
	.header {
		max-width: calc(100% - 112px);
	}
}

@media (max-width: 1110px) {
	.logo,
	.navigation {
		display: none;
	}

	.iconBurgerMenu {
		display: block;
	}

	.search input {
		max-width: 354px;
	}
}

@media (max-width: 910px) {
	.search input {
		min-width: 254px;
		max-width: 254px;
	}
}

@media (max-width: 800px) {
	.header {
		margin-top: 56px;
		margin-bottom: 48px;
	}

	.search input {
		min-width: 208px;
		max-width: 208px;
	}
}

@media (max-width: 740px) {
	.searchWrapper {
		display: none;
	}

	.hideableSearchWrapper,
	.hideableSearch {
		display: flex;
		width: auto;
	}

	.hideableSearch input {
		min-width: calc(100% - 28px);
		max-width: calc(100% - 28px);
	}

	.iconBurgerMenu {
		height: 48px;
	}

	.phone {
		display: none;
	}
}

@media (max-width: 510px) {
	.header {
		padding: 8px 8px 8px 12px;
		margin-top: 36px;
		margin-bottom: 36px;
		max-width: calc(100% - 40px);
	}
}

@media (max-width: 400px) {
	.header {
		gap: 10px;
	}

	.phoneOnSmallScreen p {
		font-size: 20px;
		line-height: 27px;
	}
}
