.excursionCard {
	position: relative;
	display: flex;
	flex-shrink: 0;
	width: auto;
	gap: 32px;
	cursor: pointer;
	transition: 0.3s;
}

.excursionCard:hover {
	opacity: 0.8;
}

.imageWrapper {
	position: relative;
	overflow: visible;
	height: fit-content;
}

.iconButton {
	position: absolute;
	height: fit-content;
	right: 32px;
	bottom: 32px;
}

.priceOverlay {
	display: none;
}

.textInfo {
	display: flex;
	flex-direction: column;
	max-width: 550px;
	width: 100%;
}

.title {
	font-size: 31px;
	line-height: 41px;
	font-weight: 600;
	margin-bottom: 20px;
	text-wrap: wrap;
}

.fieldsList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.field {
	border-radius: 12px;
}

.price {
	margin-top: 20px;
}

.price,
.priceOverlay {
	width: fit-content;
	padding: 6px 20px;
	border-radius: 12px;
	background-color: var(--blue-300);
}

.price span,
.priceOverlay span {
	font-size: 40px;
	line-height: 54px;
	font-weight: 400;
	color: var(--black-900);
}

@media (max-width: 990px) {
	.textInfo {
		max-width: 450px;
	}

	.price {
		display: none;
	}

	.priceOverlay {
		position: absolute;
		top: -16px;
		left: -16px;
		display: block;
		overflow: visible;
	}
}

@media (max-width: 870px) {
	.title {
		max-width: 80%;
	}
}

@media (max-width: 800px) {
	.excursionCard {
		gap: 24px;
	}

	.textInfo {
		max-width: 370px;
	}
}

@media (max-width: 760px) {
	.excursionCard {
		flex-direction: column;
	}

	.title {
		min-width: 100%;
	}

	.priceOverlay {
		top: 12px;
		left: 12px;
		border-radius: 16px;
	}

	.priceOverlay span {
		font-size: 24px;
		line-height: 33px;
	}

	.iconButton {
		top: 12px;
		right: 12px;
	}

	.textInfo {
		max-width: 500px;
	}
}

@media (max-width: 620px) {
	.excursionCard {
		max-width: 350px;
		gap: 12px;
	}
}

@media (max-width: 500px) {
	.title {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 12px;
	}
}

@media (max-width: 440px) {
	.excursionCard {
		max-width: 335px;
		min-height: 527px;
	}
}
