.paymentMethod {
	margin-bottom: 0;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 64px;
	margin-bottom: 70px;
}

.item {
	position: relative;
	width: 45%;
	height: fit-content;
	padding: 6px 16px 6px 56px;
	font-size: 28px;
	line-height: 38px;
	color: var(--black-900);
}

.item::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-color: var(--blue-300);
}

.first {
	width: 55%;
}

.second {
	width: fit-content;
}

.third {
	width: 65%;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 1480px) {
	.item {
		font-size: 24px;
		line-height: 33px;
	}

	.third {
		width: 50%;
	}
}
