.imageUploader {
	position: relative;
	display: flex;
	cursor: pointer;
}

.input {
	display: none;
}

.imagePreview {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	width: 100%;
	border-radius: 12px;
}

.upload {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: var(--grey-700);
	cursor: pointer;
	transition: 0.3s;
}

.upload:hover {
	opacity: 0.9;
}

.imageUploader,
.imagePreview,
.upload {
	max-width: 637px;
	height: 507px;
}

@media (max-width: 1480px) {
	.imageUploader,
	.imagePreview,
	.upload {
		max-width: 378px;
		height: 420px;
	}
}

@media (max-width: 1050px) {
	.imageUploader,
	.imagePreview,
	.upload {
		max-width: 100%;
		width: 100%;
		aspect-ratio: 656 / 456;
		height: auto;
	}
}
