.childrenAmount {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.description {
	font-size: 32px;
	line-height: 42px;
	font-weight: 300;
	font-style: italic;
}

.description span {
	margin-left: 300px;
}

.amountContainer {
	padding: 6px 16px;
	border-radius: 16px;
	background-color: var(--blue-300);
}

.amount {
	font-size: 88px;
	line-height: 120px;
	font-weight: 400;
	font-style: italic;
	color: var(--white-50);
}

.amount span:nth-child(1) {
	font-style: normal;
}

.amount span:nth-child(2) {
	font-style: normal;
	font-weight: 500;
}

.amount span:nth-child(3) {
	font-weight: 400;
}

.amount span:nth-child(4) {
	font-weight: 300;
}

.amount span:nth-child(5) {
	font-weight: 700;
}

@media (max-width: 1110px) {
	.childrenAmount {
		flex-direction: column;
	}
}

@media (max-width: 800px) {
	.description span {
		margin-left: 150px;
	}
}

@media (max-width: 650px) {
	.description {
		text-align: center;
	}

	.description span {
		margin-left: 0;
	}
}

@media (max-width: 580px) {
	.amount {
		font-size: 70px;
		line-height: 88px;
	}
}

@media (max-width: 550px) {
	.description {
		font-size: 24px;
		line-height: 33px;
		font-weight: 400;
	}
}

@media (max-width: 460px) {
	.amount {
		font-size: 56px;
		line-height: 76px;
	}
}
