.excursionEvent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.timeInput {
	width: 59px;
	padding: 6px;
	border-radius: 6px;
	background-color: var(--grey-300);
	color: var(--black-900);
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
}

.timeInput::placeholder {
	color: var(--grey-700);
}

#nameTextArea {
	width: 100%;
	padding: 12px;
	min-height: 51px;
	font-size: 20px;
	line-height: 27px;
	background-color: var(--white-50);
}

.deleteButton {
	border-radius: 6px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
	padding: 2px 16.5px 5px;
}

@media (max-width: 1440px) {
	.timeInput,
	#nameTextArea {
		font-size: 16px;
		line-height: 22px;
	}

	.timeInput {
		width: 54px;
		padding: 4px 6px;
	}

	#nameTextArea {
		padding: 8px;
		min-height: 38px;
	}

	.deleteButton {
		line-height: 1;
		padding: 2px 16px 6px;
	}
}
