.textItem {
	position: relative;
	font-size: 28px;
	line-height: 38px;
	color: var(--black-900);
	padding-left: 32px;
}

.textItem::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--blue-500);
}
