.homePage {
	position: relative;
}

.iconPhoneWrapper {
	position: fixed;
	bottom: 64px;
	height: 88px;
	display: flex;
	align-self: flex-end;
	width: 88px;
}

.iconButton {
	height: 100%;
	width: 100%;
}

.chooseButtonWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 132px;
}

@media (max-width: 800px) {
	.chooseButtonWrapper {
		margin-bottom: 96px;
	}
}

@media (max-width: 580px) {
	.iconPhoneWrapper {
		height: 70px;
		width: 70px;
	}
}

@media (max-width: 1070px) {
	.iconPhoneWrapper {
		height: 56px;
		width: 56px;
	}
}

@media (max-width: 580px) {
	.chooseButtonWrapper {
		margin-bottom: 64px;
	}
}

@media (max-width: 440px) {
	.chooseButtonWrapper {
		margin-bottom: 40px;
	}

	.chooseButton {
		font-size: 20px;
		line-height: 27px;
	}

	.iconPhoneWrapper {
		bottom: 32px;
	}
}
