.homePage {
	position: relative;
}

.iconPhoneWrapper {
	position: fixed;
	bottom: 64px;
	height: 88px;
	display: flex;
	align-self: flex-end;
	width: 88px;
	z-index: 1000;
}

.iconButton {
	height: 100%;
	width: 100%;
	box-shadow: 0 0 10px 1px rgba(62, 88, 121, 0.18);
}

.navigateButtonsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin: 0 auto 132px;
	overflow: visible;
}

@media (max-width: 800px) {
	.navigateButtonsWrapper {
		margin-bottom: 96px;
	}
}

@media (max-width: 580px) {
	.iconPhoneWrapper {
		height: 70px;
		width: 70px;
	}
}

@media (max-width: 1070px) {
	.iconPhoneWrapper {
		height: 56px;
		width: 56px;
	}
}

@media (max-width: 580px) {
	.navigateButtonsWrapper {
		margin-bottom: 64px;
	}
}

@media (max-width: 440px) {
	.navigateButtonsWrapper {
		gap: 20px;
		margin-bottom: 40px;
	}

	.navigateButton {
		font-size: 20px;
		line-height: 27px;
	}

	.iconPhoneWrapper {
		bottom: 32px;
	}
}
