@media (max-width: 1300px) {
	.sliderButton {
		left: 900px;
	}
}

@media (max-width: 1080px) {
	.sliderButton {
		left: auto;
		right: 0;
	}
}

@media (max-width: 870px) {
	.sliderButton {
		top: -32px;
		right: -36px;
	}
}

@media (max-width: 760px) {
	.sliderButton {
		right: 50%;
		top: 20px;
		height: 100%;
		align-items: flex-end;
		transform: translateX(50%);
	}
}
