.numberInput {
	padding: 4px 12px;
	border-radius: 8px;
	border: 0.2px solid var(--blue-500);
	line-height: 30px;
	font-weight: 400;
}

.numberInput::placeholder {
	color: var(--black-900);
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
