.buttonWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
}

.button {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 36px 10px;
	border-radius: 20px;
	border: none;
	background-color: var(--blue-300);
	color: var(--black-900);
	font-size: 28px;
	line-height: 38px;
	font-weight: 600;
	transition: 0.3s ease-in-out;
	overflow: hidden;
	user-select: none;
}

.button:hover {
	opacity: 0.85;
}

.rippleContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: inherit;
	pointer-events: none;
}

.ripple {
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.3);
	opacity: 1;
	pointer-events: none;
	transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.rippleAnimate {
	transform: translate(-50%, -50%) scale(4);
	opacity: 0;
}

.cornerIcon {
	position: absolute;
	top: -12px;
	right: -5px;
	z-index: 1;
}

.leftIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

@media (max-width: 1480px) {
	.leftIcon {
		margin-right: 16px;
	}
}
