.title {
	margin-bottom: 24px;
}

.title span {
	color: var(--blue-500);
}

@media (max-width: 1480px) {
	.title {
		font-size: 56px;
		line-height: 76px;
	}
}

@media (max-width: 760px) {
	.title {
		font-size: 52px;
		line-height: 69px;
		margin-bottom: 32px;
	}
}

@media (max-width: 720px) {
	.title {
		font-size: 48px;
		line-height: 64px;
		margin-bottom: 24px;
	}
}

@media (max-width: 720px) {
	.title {
		font-size: 40px;
		line-height: 53px;
	}
}

@media (max-width: 600px) {
	.title {
		font-size: 36px;
		line-height: 48px;
		text-align: center;
	}
}

@media (max-width: 530px) {
	.title {
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 16px;
	}
}

@media (max-width: 440px) {
	.title {
		font-size: 28px;
		line-height: 38px;
	}
}
