.field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14px;
	padding: 6px 16px;
	border: 1px solid var(--grey-500);
	border-radius: 16px;
	color: var(--black-700);
}

.fitContent {
	width: fit-content;
}

.fullWidth {
	width: 100%;
}

.key {
	font-size: 20px;
	line-height: 27px;
	font-weight: 400;
}

.value {
	padding: 0 9px;
	border-radius: 8px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
}

.transparent {
	background-color: transparent;
	padding: 0;
}

.white-50 {
	background-color: var(--white-50);
}

@media (max-width: 620px) {
	.key,
	.value {
		font-size: 16px;
		line-height: 22px;
	}
}
