.breadcrumbs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 24px;
	margin-left: -56px;
}

.crumb {
	display: flex;
	align-items: center;
	gap: 16px;
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
	color: var(--grey-900);
	text-wrap: nowrap;
}

.first {
	margin-left: 56px;
	height: 32px;
}

.divider {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: var(--blue-500);
}

@media (max-width: 700px) {
	.crumb {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width: 480px) {
	.breadcrumbs {
		row-gap: 20px;
	}

	.crumb {
		font-size: 16px;
		line-height: 22px;
	}

	.divider {
		height: 4px;
		width: 4px;
	}
}
