.transportVariants {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.textContainer {
	display: flex;
	gap: 32px;
	margin-bottom: 36px;
}

.wrappedText {
	width: 106%;
}

.title {
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	color: var(--black-900);
	margin-bottom: 32px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.textItem {
	width: 45%;
}

.wrappedText2 {
	width: 58%;
}
