.createContainer {
	display: flex;
	gap: 52px;
}

.imageUploaderAndButton {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 637px;
	width: 100%;
}

.triggerModalButton {
	border-radius: 12px;
	padding: 12px 20px;
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

.mainInfoContainer {
	display: flex;
	flex-direction: column;
	max-width: 743px;
	width: 100%;
}

.titleAndPrice {
	display: flex;
}

.titleInput {
	padding: 8px 16px;
	margin-bottom: 12px;
	background: var(--white-50);
	border: 0.2px solid var(--blue-500);
	font-size: 36px;
	line-height: 49px;
}

.amountsWrapper {
	margin-bottom: 20px;
}

.amountInput {
	font-size: 28px;
	line-height: 32px;
	padding-block: 3px;
	min-width: 41px;
}

.infoWrapper {
	margin-bottom: 24px;
}

.eventsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.addButtonRoot {
	width: 100% !important;
}

.addButton {
	justify-content: center;
	width: 100%;
	padding-block: 9px;
	border-radius: 12px;
	font-size: 24px;
	line-height: 33px;
	font-weight: 600;
}

.addButton span {
	font-weight: 700;
	margin-left: 8px;
}

.priceContainer {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: 48px;
	height: fit-content;
	font-style: italic;
}

.priceContainer label {
	font-size: 36px;
	line-height: 49px;
	font-weight: 400;
	color: var(--blue-500);
}

.priceContainer input {
	background-color: var(--white-50);
	padding: 7.5px 16px;
	border-radius: 12px;
	color: var(--blue-500);
}

.priceContainer input::placeholder {
	color: var(--blue-500-70);
}

.modalContainer {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.modalContainer h2 {
	font-size: 36px;
	line-height: 49px;
	font-weight: 600;
}

.modalContainer .deleteButtonRoot {
	width: 100% !important;
}

.modalContainer button {
	justify-content: center;
	width: 100%;
	border-radius: 12px;
}

@media (max-width: 1480px) {
	.createContainer {
		gap: 32px;
	}

	.imageUploaderAndButton {
		max-width: 378px;
	}

	.inner {
		padding-right: 131px;
	}

	.titleInput {
		font-size: 30px;
		line-height: 40px;
	}

	.priceContainer label,
	.priceInput {
		font-size: 32px;
		line-height: 44px;
	}

	.priceContainer .priceInput {
		padding: 6px 16px;
	}

	.amountInput {
		font-size: 22px;
		line-height: 30px;
		min-width: 30px !important;
	}

	.addButton {
		font-size: 18px;
		line-height: 24px;
		padding: 8px 36px;
	}

	.triggerModalButton {
		padding: 8px 24px;
		font-size: 18px;
		line-height: 24px;
	}
}

@media (max-width: 1050px) {
	.createContainer {
		flex-direction: column;
	}

	.imageUploaderAndButton {
		max-width: 100%;
	}

	.mainInfoContainer {
		max-width: 100%;
	}

	.inner {
		padding-right: 0;
	}
}
