.breadcrumbsWrapper {
	display: flex;
	align-items: center;
	gap: 24px;
	height: 32px;
	margin-bottom: 32px;
}

.createContainer {
	display: flex;
}

.imageUploaderAndButton {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.triggerModalButton {
	border-radius: 12px;
	padding-inline: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.mainInfoContainer {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	max-width: 459px;
	width: 100%;
}

.titleInput {
	margin-bottom: 12px;
	background: var(--white-50);
	border: 0.2px solid var(--blue-500);
}

.amountsWrapper {
	margin-bottom: 20px;
}

.infoWrapper {
	margin-bottom: 24px;
}

.eventsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.addButton {
	width: 100%;
	border-radius: 12px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.addButton span {
	font-weight: 700;
	margin-left: 8px;
}

.priceContainer {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: 48px;
	height: fit-content;
	font-style: italic;
}

.priceContainer label {
	font-size: 32px;
	line-height: 44px;
	font-weight: 400;
	color: var(--blue-500);
}

.priceContainer input {
	background-color: var(--white-50);
	padding: 6.5px 16px;
	border-radius: 12px;
	color: var(--blue-500);
	font-size: 32px;
	line-height: 44px;
}

.priceContainer input::placeholder {
	color: var(--blue-500-70);
}

.modalContainer {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.modalContainer h2 {
	font-size: 36px;
	line-height: 49px;
	font-weight: 600;
}

.modalContainer button {
	width: 100%;
	border-radius: 12px;
}
