.excursionImage {
	height: 400px;
	min-width: 360px;
	width: 360px;
}

@media (max-width: 1050px) {
	.excursionImage {
		height: 293px;
		min-width: 250px;
		width: 262px;
	}
}

@media (max-width: 890px) {
	.excursionImage {
		height: 330px;
		max-width: 500px;
		width: 100%;
		border-radius: 26px;
	}
}
