.title {
	font-size: 72px;
	line-height: 98px;
	font-weight: 600;
	margin-bottom: 24px;
}

@media (max-width: 1480px) {
	.title {
		font-size: 68px;
		line-height: 93px;
		margin-bottom: 12px;
	}
}

@media (max-width: 840px) {
	.title {
		font-size: 64px;
		line-height: 87px;
		margin-bottom: 28px;
	}
}

@media (max-width: 800px) {
	.title {
		font-size: 58px;
		line-height: 76px;
		margin-bottom: 24px;
	}
}
