.transportVariant {
	display: flex;
	align-items: flex-start;
	gap: 240px;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	min-width: 244px;
}

.title {
	font-size: 56px;
	line-height: 76px;
	font-weight: 300;
	font-style: italic;
}

.description {
	font-size: 24px;
	line-height: 33px;
	color: var(--black-900);
}
