.sliderContainer {
	position: relative;
	overflow: visible;
	height: auto;
}

.sliderContainer::before,
.sliderContainer::after {
	content: '';
	position: absolute;
	top: 0;
	width: 150px;
	height: 100%;
	z-index: 5;
	pointer-events: none;
}

.sliderContainer::before {
	left: 0;
	background: linear-gradient(to right, var(--white-100), transparent);
}

.sliderContainer::after {
	right: 0;
	background: linear-gradient(to left, var(--white-100), transparent);
}

.sliderContainer :global(.slick-track) {
	display: flex;
	padding-top: 16px;
}

.sliderContainer :global(.slick-slide) {
	padding-inline: 32px;
	width: auto;
}

.sliderContainer .slick-slide > div {
	display: flex;
	width: 100%;
}

.sliderContainer :global(.slick-prev),
.sliderContainer :global(.slick-next) {
	z-index: 10;
	width: 64px;
	height: 64px;
	padding: 0;
	border-radius: 32px;
	box-shadow: 0 0 10px 1px rgba(62, 88, 121, 0.18);
	background-color: var(--white-100);
	border: none;
	cursor: pointer;
	display: flex !important;
	align-items: center;
	justify-content: center;

	&::before {
		content: none !important;
	}
}

.sliderContainer :global(.slick-prev) {
	left: 10px;
}

.sliderContainer :global(.slick-next) {
	right: 10px;
}

.sliderContainer :global(.slick-prev) svg,
.sliderContainer :global(.slick-next) svg {
	display: block;
}

.sliderContainer :global(.slick-prev):hover,
.sliderContainer :global(.slick-next):hover {
	opacity: 0.95;
}

@media (max-width: 1100px) {
	.sliderContainer::before,
	.sliderContainer::after {
		width: 100px;
	}
}

@media (max-width: 1050px) {
	.excursionsList {
		padding-top: 16px;
		margin-top: -16px;
	}

	.sliderContainer::before,
	.sliderContainer::after {
		width: 70px;
	}
}

@media (max-width: 850px) {
	.sliderContainer::before,
	.sliderContainer::after {
		width: 50px;
	}
}

@media (max-width: 800px) {
	.sliderContainer::before,
	.sliderContainer::after {
		width: 40px;
	}

	.sliderContainer :global(.slick-slide) {
		padding-inline: 24px;
	}
}

@media (max-width: 890px) {
	.excursionsList {
		padding: 0 0 72px;
		margin-top: 0;
		margin-left: 0;
	}

	.sliderContainer :global(.slick-track) {
		padding-top: 0;
	}
}

@media (max-width: 600px) {
	.sliderContainer :global(.slick-slide) {
		padding-inline: 20px;
	}

	.sliderContainer :global(.slick-prev),
	.sliderContainer :global(.slick-next) {
		top: unset;
		bottom: -120px;
	}

	.sliderContainer :global(.slick-prev) {
		left: 80px;
	}

	.sliderContainer :global(.slick-next) {
		right: 80px;
	}

	.sliderContainer {
		padding-bottom: 120px;
	}
}

@media (max-width: 440px) {
	.sliderContainer::before,
	.sliderContainer::after {
		width: 30px;
	}
}

@media (max-width: 410px) {
	.sliderContainer::before,
	.sliderContainer::after {
		width: 0;
	}
}
