.excursionsList {
	display: flex;
	gap: 64px;
	padding-left: 16px;
	margin-left: -16px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	padding-right: calc(var(--button-offset) * 2);
}

@media (max-width: 900px) {
	.excursionsList {
		padding-top: 16px;
		margin-top: -16px;
	}
}

@media (max-width: 760px) {
	.excursionsList {
		padding: 0;
		margin-top: 0;
		margin-left: 0;
	}
}
