.excursionsList {
	display: flex;
	gap: 64px;
	padding-left: 16px;
	margin-left: -16px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	padding-right: calc(var(--button-offset) * 2);
}

.sliderContainer :global(.slick-track) {
	padding-top: 16px;
}

.sliderContainer :global(.slick-slide) {
	display: flex;
	padding: 0 32px;
}

.sliderContainer :global(.slick-slide > div) {
	display: flex;
	width: auto;
}

.sliderContainer :global(.slick-prev),
.sliderContainer :global(.slick-next) {
	z-index: 10;
	width: 64px;
	height: 64px;
	padding: 0;
	border-radius: 32px;
	box-shadow: 0 0 10px 1px rgba(62, 88, 121, 0.18);
	background-color: var(--white-100);
	border: none;
	cursor: pointer;
	display: flex !important;
	align-items: center;
	justify-content: center;

	&::before {
		content: none !important;
	}
}

.sliderContainer :global(.slick-prev) {
	left: 10px;
}

.sliderContainer :global(.slick-next) {
	right: 10px;
}

.sliderContainer :global(.slick-prev) svg,
.sliderContainer :global(.slick-next) svg {
	display: block;
}

.sliderContainer :global(.slick-prev):hover,
.sliderContainer :global(.slick-next):hover {
	opacity: 0.95;
}

@media (max-width: 990px) {
	.excursionsList {
		padding-top: 16px;
		margin-top: -16px;
	}

	.sliderContainer :global(.slick-list) {
		max-height: 320px;
	}
}

@media (max-width: 760px) {
	.excursionsList {
		padding: 0 0 72px;
		margin-top: 0;
		margin-left: 0;
	}

	.sliderContainer :global(.slick-list) {
		max-height: 580px;
	}

	.sliderContainer :global(.slick-track) {
		padding-top: 0;
	}
}

@media (max-width: 600px) {
	.sliderContainer :global(.slick-slide) {
		padding-inline: 20px;
	}

	.sliderContainer :global(.slick-list) {
		max-height: 620px;
	}
}
