.imageCard {
	display: flex;
	cursor: pointer;
}

.imageCard:hover {
	transition: 0.3s ease-in-out;
	opacity: 0.9;
}

.figure {
	display: flex;
	position: relative;
	width: 100%;
	margin: 0;
}

.textUnderImageLayout {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.figcaptionWrapper {
	position: absolute;
	bottom: 36px;
	left: 32px;
	right: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.figcaptionWrapper.l {
	bottom: 36px;
	left: 32px;
	right: 32px;
}

.figcaptionWrapper.m,
.figcaptionWrapper.s {
	bottom: 20px;
	left: 20px;
	right: 20px;
}

.figcaptionUnderImageWrapper {
	margin-top: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.reverse {
	flex-direction: row-reverse;
}

.figcaption {
	padding: 2px 12px;
	border-radius: 8px;
	background-color: var(--white-50);
	font-weight: 600;
}

.figcaption.l {
	font-size: 24px;
	line-height: 33px;
}

.figcaption.m {
	font-size: 20px;
	line-height: 27px;
}

.figcaption.s {
	font-size: 16px;
	line-height: 22px;
}

.image {
	width: 100%;
}

.image.l {
	aspect-ratio: 440 / 240;
	border-radius: 40px;
}

.image.m {
	aspect-ratio: 426 / 220;
	border-radius: 36px;
}

@media (max-width: 1480px) {
	.figcaptionWrapper {
		bottom: 32px;
	}

	.figcaptionWrapper.m,
	.figcaptionWrapper.s {
		bottom: 16px;
		left: 16px;
		right: 16px;
	}

	.image.l {
		aspect-ratio: 368 / 216;
	}

	.image.m {
		aspect-ratio: 317 / 180;
		border-radius: 28px;
	}

	.figcaption.m {
		font-size: 16px;
		line-height: 22px;
	}
}

@media (max-width: 900px) {
	.figcaptionWrapper.l {
		bottom: 24px;
		left: 24px;
		right: 24px;
	}

	.image.l {
		border-radius: 32px;
		aspect-ratio: 316 / 184;
	}

	.image.m {
		border-radius: 32px;
		aspect-ratio: 280 / 164;
	}
}

@media (max-width: 750px) {
	.figcaptionWrapper {
		bottom: 16px;
		left: 16px;
		right: 16px;
	}

	.figcaption.l {
		font-size: 20px;
		line-height: 27px;
	}

	.image.l {
		border-radius: 20px;
		aspect-ratio: 335 / 184;
	}
}

@media (max-width: 550px) {
	.image.m {
		aspect-ratio: 303 / 164;
		border-radius: 20px;
	}
}
