.expandable {
	position: relative;
	display: flex;
	width: 100%;
	transition: all 0.5s ease-in-out;
	margin-bottom: 40px;
}

.expandable.collapsed {
	max-height: 417px;
	overflow: hidden;
	margin-bottom: 0;
}

.expandable.collapsed::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background: linear-gradient(to top, var(--white-100), #f5f5f500);
}

.iconButtonRoot {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.iconButton {
	justify-content: center;
	height: 64px;
	width: 64px;
	padding: 0;
	border-radius: 32px;
	box-shadow: 0 0 10px 1px rgba(62, 88, 121, 0.18);
}

.iconButtonRoot.expanded {
	bottom: -50px;
}

.iconButton:hover {
	opacity: 0.95;
}
