.breadcrumbsWithNavButton {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	margin-bottom: 32px;
}

.iconButton {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

@media (max-width: 1480px) {
	.breadcrumbsWithNavButton {
		margin-bottom: 24px;
	}
}
